:root{
    --color-primary: #2c2b47;
}
@font-face {
    font-family: "mono";
    src: url(../storage/fonts/poppins/Poppins-Thin.ttf)
}
@font-face {
    font-family: "regular";
    src: url(../storage/fonts/sans-serif/UbuntuSansMono-Regular.ttf)
}