<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../style/about.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
</head>
<body>
    <div class="containerp">
        <div class="containerh">
            <div class="containerimg">
                <img src="../storage/img/menu__principal.png" >
            </div>
            <div class="containertext">
                <h3 class="about">About us</h3>
                <h1 class="titulo">We speak the good<br> food language</h1>
                <p class="text1">It is a long established fact that a<br>
                    be distracted by the readable content<br>
                    looking at its layout. The point of</p>
                    <button>Learn More</button>
            </div>
        </div>
    </div>
</body>
</html>