<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../style/menu.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>
<body>
    <header class="header">
        <p>Food menu</p>
    </header>
    <main class="main">
        <div class="containertitle">
            <h1>Fresh taste and grat price</h1>
        </div>
        <div class="containerp">
            <div class="containerh">
                <div class="cont__images">
                    <div class="contenido">
                        <button><img src="../storage/img/bxs-star.svg" alt=""></button>
                        <img src="../storage/img/food1.png" class="imagen">
                        <p>Chicken Burger</p>
                        <span>Tasty Food</span>
                        <h3>$11.00</h3>
                    </div>
                </div>
                <div class="cont__images2">
                    <div class="contenido">
                        <button><img src="../storage/img/bxs-star.svg" alt=""></button>
                        <img src="../storage/img/food2.png" class="imagen">
                        <p>Special Beef Burger</p>
                        <span>Tasty Food</span>
                        <h3>$11.00</h3>
                    </div>
                </div>
                <div class="cont__images3">
                    <div class="contenido">
                        <button><img src="../storage/img/bxs-star.svg" alt=""></button>
                        <img src="../storage/img/food3.png" class="imagen">
                        <p>Chicken Fry Pack</p>
                        <span>Tasty Food</span>
                        <h3>$11.00</h3>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>